{% extends "home.html" %}

{% block titulo %}  Cuentas/Pais  {% endblock %}

{% block contenido %} 
<div id="container" style="width: 100%;">
    <canvas id="pais"></canvas>
</div>
<button id="expPDF">Descargar chart como PDF</button>
{% comment %} acá se crea lo que viene siendo la pie-chart, el cual irá arriba en el div {% endcomment %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
<script>
    var config = {
    type: 'bar',
    data: {
        datasets: [{
        data: {{ data|safe }},
        backgroundColor: '#c924a8',
        label: 'Personas'
        }],
        labels: {{ labels|safe }}
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
      },
    };

    window.onload = function() {
    var ctx = document.getElementById('pais').getContext('2d');
    window.myPie = new Chart(ctx, config);
    };

    let btn = document.getElementById("expPDF");
    btn.addEventListener('click', event => {
        // get size of report page
        var reportPageHeight = $('#container').innerHeight();
        var reportPageWidth = $('#container').innerWidth();
        // create a new canvas object that we will populate with all other canvas objects
        var pdfCanvas = $('<canvas />').attr({
            id: "canvaspdf",
            width: reportPageWidth,
            height: reportPageHeight
        });
        // keep track canvas position
        var pdfctx = $(pdfCanvas)[0].getContext('2d');
        var pdfctxX = 0;
        var pdfctxY = 0;
        var buffer = 100;
        // for each chart.js chart
        $("canvas").each(function(index) {
          // get the chart height/width
            var canvasHeight = $(this).innerHeight();
            var canvasWidth = $(this).innerWidth(); 
            // draw the chart into the new canvas
            pdfctx.drawImage($(this)[0], pdfctxX, pdfctxY, canvasWidth, canvasHeight);
            pdfctxX += canvasWidth + buffer;
            // our report page is in a grid pattern so replicate that in the new canvas
            if (index % 2 === 1) {
            pdfctxX = 0;
            pdfctxY += canvasHeight + buffer;
            }
        });
        // create new pdf and add our new canvas as an image
        var pdf = new jsPDF('l', 'pt', [reportPageWidth, reportPageHeight]);
        pdf.addImage($(pdfCanvas)[0], 'PNG', 0, 0);    
        // download the pdf
        pdf.save('city-chart.pdf');});
</script>
{% endblock %}