{% extends "home.html" %}

{% block titulo %}  Graficos  {% endblock %}

{% block contenido %} 

<div>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'grafico_stock' %}">Stock Libros</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'grafico_sales' %}">Ventas Realizadas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'grafico_pais' %}">Paises de usuarios</a>
    </li>
</div>

{% endblock %}