{% extends "home.html" %}

{% block titulo %}  Editar articulo  {% endblock %}

{% block contenido %} 

<div class="card">
    <div class="card-header">
        Editar informacion articulo
    </div>
    <div class="card-body">
        <h4 class="card-title">Datos del articulo</h4>
        {% include 'libros/form.html' %}
        
    </div>
    <div class="card-footer text-muted">
    </div>
</div>

{% endblock %}