{% extends "home.html" %}

{% block titulo %} mangas  {% endblock %}

{% block contenido %} 
<section class="banner_main">
    <div class="card">
        <div class="card-header">
            {% for group in user.groups.all %}
                {% if user.is_authenticated %}
                    {% if group.name == 'Vendedor' %}
                    <a name="" id="" class="btn btn-primary" href="{% url 'crear_manga' %}" role="button" href="#">agregar nuevo manga</a>
                   {% endif %}
                {% endif %}
            {% endfor %}
            <div class="row">
                {% for manga in mangas %}
        
                    <div class="col-lg.4 text-center">
                        <img src="{{manga.imagen.url}}"">
                        <div class="box-element product" >
                                <h6><strong> {{ manga.nombre }} </strong></h6>
                                <hr>
                                <button data-product="{{manga.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Agregar al carrito</button>
                                <h4 style="display: inline-block"><strong>${{manga.precio}} </strong></h4>
                                <h4 style="display: inline-block"><strong>X{{manga.stock}} </strong></h4>    
                                {% for group in user.groups.all %}
                                    {% if user.is_authenticated %}
                                        {% if group.name == 'Vendedor' %}
                                            <a name="" id="" class="btn btn-info" href="{% url 'editar' manga.id %}" role="button">Editar </a>
                                            <a name="" id="" class="btn btn-danger" href="{% url 'eliminar' manga.id %}" role="button">Borrar </a>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                        </div> 
                    </div>
                
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}